@import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 25px 50px;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: 'Passero One', sans-serif;
  color: #7B0B00;
}

h2 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #7B0B00;
}

#login-button {
  display: block;
  margin: 0 auto;
  padding: 12px 21px;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #2A2A2A;
  background-color: #E5C48E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#login-button:hover {
  color: #E5C48E;
  background-color: #7B0B00;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  margin-left: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: larger;
}

.info p {
  margin-bottom: 10px;
}

.info strong {
  color: #1DB954;
}

.info span, .info a {
  color: #333;
}

.info a {
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

#top-tracks-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Define a linear gradient background for the table */
table {
  background-image: linear-gradient(180deg, #E5C48E 3%, #A06039 97%);
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #F2F2F2;
}

/* Define the table header styles */
thead th {
  color: #7B0B00;
  font-weight: bold;
  text-align: left;
}

/* Define the table body styles */
tbody tr {
  border-bottom: 1px solid white; /* White border between rows */
}

tbody td {
  color: white;
}

/* Define the table footer styles */
tfoot th {
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #F2F2F2;
}

/* Define the column styles */
col:nth-child(1) {
  width: 10%; /* Set the width of the first column to 10% */
}

col:nth-child(2) {
  width: 60%; /* Set the width of the second column to 60% */
}

col:nth-child(3) {
  width: 30%; /* Set the width of the third column to 30% */
}

/* Define the styles for the playlist generator elements */
#playlist-generator {
  margin-top: 20px;
}

#activity-select {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #2A2A2A;
  background-color: #E5C48E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.activity-select {
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #2A2A2A;
}

#activity-select:hover {
  color: #E5C48E;
  background-color: #7B0B00;
}

#length-slider {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#length-value {
  display: block;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #7B0B00;
}

#generate-button {
  display: block;
  margin: 0 auto;
  padding: 12px 21px;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #2A2A2A;
  background-color: #E5C48E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#generate-button:hover {
  color: #E5C48E;
  background-color: #7B0B00;
}
