@import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 25px 50px;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: 'Passero One', sans-serif;
  color: #7B0B00;
}

h2 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #7B0B00;
}

#login-button {
  display: block;
  margin: 0 auto;
  padding: 12px 21px;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  color: #2A2A2A;
  background-color: #E5C48E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#login-button:hover {
  color: #E5C48E;
  background-color: #7B0B00;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  margin-left: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: larger;
}

.info p {
  margin-bottom: 10px;
}

.info strong {
  color: #1DB954;
}

.info span, .info a {
  color: #333;
}

.info a {
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}
