<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kora</title>
    <!-- Load custom CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="../static/js/index.js"></script>
    <!-- Link a favicon image -->
    <link rel="icon" type="image/png" href="../static/images/favicon/favicon.ico" alt="Kora logo" />
  </head>
  <body>
    <h1>Welcome to Kora, a Next.js app with Spotify!</h1>
    <button id="login-button">Login with Spotify</button>
    
    <div id="profile-container"></div>
    <div id="profile-image"></div>    
    <div id="profile-name"></div>    
    <div id="profile-email"></div>
    <div id="top-tracks-container"></div>
    <div id="playlist-button"></div>
    <div id="playlist-container"></div>
    <div id="playlist-link"></div>
    <div id="progress"></div>
    <div id="heroes"></div>
  </body>
</html>
