<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kora</title>
    <!-- Load custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/style.css') }}" />
    <script src="{{ url_for('static', filename='../static/js/index.js') }}"></script>
    <!-- Link a favicon image -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/images/favicon/favicon.ico') }}" alt="Kora logo" />
  </head>
  <body>
    <h1>Welcome to Kora, a Next.js app with Spotify!</h1>
    <button id="login">Login with Spotify</button>
    <div id="logout"></div>
    <div id="refresh"></div>
    <div id="progress"></div>
    <div id="heroes"></div>
  </body>
</html>
